@media screen and (max-width: 600px) {
    .navbar-container{
        flex-direction: column;
        margin-left: 80px;
        
    }
    .items-container{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
       
    }
    .input-form{
        flex-direction: column;
        gap: 10px;
        text-align: center;
        
    }
    #Where{ 
        margin-left: 180px;
        flex-direction: column;
        text-align: center;
    }
    .info input{
        flex-direction: column;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
    
    }

    .banner-img{
        width: 100%;

    }
    .card-container{
        flex-direction: column;
    }
    .card1{
        width: 100%;
    }
    .card2{
        width: 100%;
    }
    .Discounts, .Discounts2, .Discounts3 {
        flex-direction: column;
    }
    .Simple{
        flex-direction: column;
        gap: 20px;
    }
    .end-section{
        flex-direction: column;
        
        }
        .form{
            width: 100%;
        }
        .img-content{
            width: 100%;
        }

}


/* ====================== */